* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #cdd6f4;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

#waybar {
  /* background: #1a1a1a; */
  background: #11111b;
  /* opacity: 0.85; */
}

#window,
#memory,
#disk,
#pulseaudio,
#custom-weather,
#cpu {
  padding-left: 1rem;
  padding-right: 1rem;
}

#custom-weather {
  padding-left: 2rem;
  font-weight: bold;
}

#workspaces {
  background: transparent;
}

#workspaces button {
  background: transparent;
  color: #cdd6f4;
  margin: 0px;
  padding: 0px 8px;
}

#workspaces button.focused {
  color: #b4befe;
  border-top: 1px solid #b4befe;
}
